.container{
    /* border: 1px solid red; */
    height:100vh;
    width: 100vw;
    background: url(./login-bg-img.jpg);
    background-size: cover;
    position: fixed;
    display: flex;
}

.container .formHolder{
    /* border: 1px solid black; */
    border-radius: 20px;
    width: 40%;
    height: 80%;
    margin-top: 75px;
    margin-left: 10%;
    background-color: rgba(255,255,255, 0.4);
}

.container .formHolder i{
    font-size: 50px;
    margin-top: 100px;
    margin-left: 25%;
    color:rgb(0, 0, 0, 1)
}

.container .formHolder i .header{
    font-family: 'Bitter', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Maven Pro', sans-serif;
}

.container .formHolder i h6{
    margin-left: 90px;
    margin-top: 50px;
    font-family: 'Bitter', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Maven Pro', sans-serif;
}

.container .inputForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .inputForm span{
    font-family: 'Bitter', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Maven Pro', sans-serif;

}

.container .inputForm span a{
    text-decoration: none;
}

.container .inputForm form{
    margin-top: 50px;
}   

.container .inputForm form .inputField{
    height: 45px;
    width: 350px;
    border-radius: 10px;
    border:none;
    font-family: 'Bitter', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Maven Pro', sans-serif;
    outline: none;
    text-align: center;
}

.container .inputForm form .submitBtn{
    height: 45px;
    width: 350px;
    border-radius: 10px;
    border:none;
    font-family: 'Bitter', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Maven Pro', sans-serif;
    outline: none;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

#togglePassword{
    font-size: large;
    margin: 25px;
    margin-left: -30px;
    color:grey;
    cursor: pointer;
}